.sites{
  width: 100%;
  background-color: white;
  .sites_container{
    max-width: 1170px;
    @extend.containers;
    .sites_body_title{
      @media (max-width: 850px) {
        margin-top: 55px;
      }
      @media (max-width: 320px){
        font-size: 12px;
      }
      width: 100%;
      font-family: 'OpenSans-Light',sans-serif;
      text-align: center;
      margin-top: 77px;
      margin-bottom: 40px;
    }
    .sites_body{
      @media (max-width: 850px) {
        margin-bottom:35px ;
      }
      width: 100%;
      display: flex;
      min-width: 0;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 70px;
        .slider_item{
          margin: 0 25px 0 25px;
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
          .slider_title{
            @media (max-width: 1120px){
              font-size: 15px;
            }
            @media (max-width: 850px) {
              font-size: 18px;
            }
            @media (max-width: 320px){
              padding-bottom: 5px;
            }
            font-family: 'OpenSans-Light',sans-serif;
            color: #666666;
            font-size: 22px;
            padding: 15px 0;
            border-bottom: 1px solid #349ae0;
          }
          .slider_text{
            @media (max-width: 1120px){
              font-size: 14px;
            }
            @media (max-width: 320px){
              font-size: 16px;
            }
            padding-top: 25px;
            color: #a3a3a3;
            letter-spacing: 0.25px;
            line-height: 24px;
        }
      }
    }
  }
}