.social{
  width: 100%;
  background-color: #3498db;
  .social_container{
    @extend.containers;
    max-width: 1060px;
    .social_body{
      display: flex;
      width: 100%;
      flex-direction: row;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 710px) {
        flex-wrap: wrap;
      }
      @media (max-width: 386px) {
        padding: 40px 0 40px 0;
      }
      @media (max-width: 320px) {
        padding: 30px 0 10px 0;
      }
      .social_tel,.social_email,.social_address,.social_facebook{
        @media (max-width:710px) {
          flex-basis: 50%;
        }
        @media (max-width:386px) {
          flex-basis: 50%;
          padding: 0;
        }
        width: 25%;
        padding-top: 40px;
        text-align: center;
        .social_title{
          @media (max-width:386px) {
            font-size: 14px;
          }
          color: #ffffff;
          font-size: 18px;
          text-align: center;
          padding-bottom: 13px;
        }
        .social_text{
          @media (max-width:386px) {
            font-size: 12px;
            padding-bottom: 20px ;
          }
          padding-bottom: 44px;
          font-size: 15px;
          font-family: 'OpenSans-Light',sans-serif;
          a{
            text-decoration: none;
            color: white;
          }
          color: white;
        }
        i{
          @media (max-width: 386px) {
            padding-bottom: 18px;
          }
          font-size: 48px;
          padding-bottom: 28px;
          color: white;
        }
      }
    }
  }
}