@import "normalize","fonts","header","contact", "sites","stats","feedback","video","mentors","map","social","footer","slider-feedback";


$ff:"OpenSans-Regular",sans-serif;
$fz:16px;

#sites,#video,#mentors,#feedback{
  padding-top: 100px;
  margin-top: -100px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}
*{
    margin: 0;
    padding: 0;
}
html,body{
  height: 100%;
  font-family: $ff;
  font-size: $fz;
  margin: 0;
  padding: 0;
}
.wrapper{
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
.containers{
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}




